/**
 * Styles for drag and drop indicators.
 */

.v-ddwrapper-over,
.v-ddwrapper-over-top,
.v-ddwrapper-over-bottom,
.v-ddwrapper-over-left,
.v-ddwrapper-over-right {
  // TODO avoid using !important
  border: 2px solid rgba(101, 199, 101, 0.6) !important;
  background-color: rgba(101, 199, 101, 0.1) !important;
  padding: 0 !important;
  -moz-border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  border-radius: 5px !important;
}