$bg-color: #fff;
$fg-color: #262626;
$text-color: whitesmoke;
$border-color: crimson;
$border-radius: 4px;

.l-expression {
  position: relative;
  margin: 2px 0;
  padding: 2px;
  color: $text-color;
  background-color: $fg-color;
  border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -webkit-border-radius: $border-radius;
}

.l-expression > .v-slot > .l-close-btn {
  visibility: hidden;
}

.l-expression:hover > .v-slot > .l-close-btn {
  visibility: visible;
}
