.littletheme .l-gamespace {
  background-color: #f1f2f2;
}

.littletheme .l-gamespace .v-splitpanel-vsplitter,
.littletheme .l-gamespace .v-splitpanel-vsplitter-locked {
  height: 2px;
  background-image: none;
  background-color: #000;
}

.littletheme .l-gamespace .v-splitpanel-vsplitter div {
  background-image: none;
}

.littletheme .l-gamespace .l-gamespace-view {

}

.littletheme .l-gamespace .l-gamespace-listeners {
  padding: 5px;
}
