.littletheme .l-ide {
  background-color: #333
}

.littletheme .l-ide-head {
  padding: 0 100px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.0784314);
}

.littletheme .l-ide-head .h1 {
  color: #ccc;
  font-weight: 100;
  text-shadow: #111 0 -1px 1px;
}

.littletheme .l-ide-head .l-button {
  color: #ccc
}

.littletheme .l-ide-head .l-button:hover {
  color: #65c765;
  font-weight: 100;
  cursor: pointer;
}

.littletheme .l-ide-body {

}

.littletheme .l-ide-foot {

}
