.l-workspace {
  padding: 10px;
  background-color: rgb(45, 57, 64);
  background-size: 200px 200px, 200px 200px, 40px 40px, 40px 40px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, .1) 2px, transparent 2px),
  -webkit-linear-gradient(0, rgba(255, 255, 255, .1) 2px, transparent 2px),
  -webkit-linear-gradient(rgba(255, 255, 255, .05) 1px, transparent 1px),
  -webkit-linear-gradient(0, rgba(255, 255, 255, .05) 1px, transparent 1px);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, .1) 2px, transparent 2px),
  -moz-linear-gradient(0, rgba(255, 255, 255, .1) 2px, transparent 2px),
  -moz-linear-gradient(rgba(255, 255, 255, .05) 1px, transparent 1px),
  -moz-linear-gradient(0, rgba(255, 255, 255, .05) 1px, transparent 1px);
  background-image: linear-gradient(rgba(255, 255, 255, .1) 2px, transparent 2px),
  linear-gradient(90deg, rgba(255, 255, 255, .1) 2px, transparent 2px),
  linear-gradient(rgba(255, 255, 255, .05) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255, 255, 255, .05) 1px, transparent 1px);
}

.l-workspace .v-spacing {
  width: 20px !important;
}