.l-event-listener {

}

.l-event-listener-head {

}

.l-event-listener-body {
  display: block;
  min-width: 100px;
  min-height: 10px;
}

.l-event-listener-foot {
  display: block;
  min-width: 100px;
  min-height: 10px;
}