$header-bg-color: #131313;
$header-color: #ccc;
$header-color-over: #65c765;

.littletheme .l-gamespace {
  background-color: rgb(45, 57, 64);
}

.littletheme .l-gamespace .v-splitpanel-vsplitter,
.littletheme .l-gamespace .v-splitpanel-vsplitter-locked {
  height: 2px;
  background-image: none;
  background-color: #000;
}

.littletheme .l-gamespace .v-splitpanel-vsplitter div {
  background-image: none;
}

.littletheme .l-gamespace .l-gamespace-view {

}

.littletheme .l-gamespace .l-gamespace-listeners {
  padding: 5px;
}
