.littletheme .l-ide {

}

.littletheme .l-ide-head {
  padding: 0 100px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.0784314);
}

.littletheme .l-ide-head .h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 100;
  color: crimson;
  letter-spacing: -0.02em;
  text-shadow: #fff 0 -1px 1px;
}

.littletheme .l-ide-head .l-button {

}

.littletheme .l-ide-head .l-button:hover {
  color: crimson;
  cursor: pointer;
}

.littletheme .l-ide-body {

}

.littletheme .l-ide-foot {

}
