$close-btn-width: 20px;
$close-btn-radius: $close-btn-width / 2;

.l-close-btn {
  color: #FFFFFF;
  background: #606061;
  -webkit-border-radius: $close-btn-radius;
  -moz-border-radius: $close-btn-radius;
  border-radius: $close-btn-radius;
  position: absolute;
  right: -8px;
  top: -5px;
}

.l-close-btn:hover {
  background: crimson;
  box-shadow: 1px 1px 3px #9e9e9e;
  -moz-box-shadow: 1px 1px 3px #9e9e9e;
  -webkit-box-shadow: 1px 1px 3px #9e9e9e;
}

.l-close-btn-wrap {
  display: block;
  text-align: center;
  width: $close-btn-width;
}

.l-close-btn-caption {
  font-size: 10px;
  text-decoration: none;
  line-height: $close-btn-width + 1;
}
