.l-workspace {
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
  background-size: 200px 200px, 200px 200px, 40px 40px, 40px 40px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, .075) 2px, transparent 2px),
  -webkit-linear-gradient(0, rgba(0, 0, 0, .075) 2px, transparent 2px),
  -webkit-linear-gradient(rgba(0, 0, 0, .05) 1px, transparent 1px),
  -webkit-linear-gradient(0, rgba(0, 0, 0, .05) 1px, transparent 1px);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, .075) 2px, transparent 2px),
  -moz-linear-gradient(0, rgba(0, 0, 0, .075) 2px, transparent 2px),
  -moz-linear-gradient(rgba(0, 0, 0, .05) 1px, transparent 1px),
  -moz-linear-gradient(0, rgba(0, 0, 0, .05) 1px, transparent 1px);
  background-image: linear-gradient(rgba(0, 0, 0, .075) 2px, transparent 2px),
  linear-gradient(90deg, rgba(0, 0, 0, .075) 2px, transparent 2px),
  linear-gradient(rgba(0, 0, 0, .05) 1px, transparent 1px),
  linear-gradient(90deg, rgba(0, 0, 0, .05) 1px, transparent 1px);
}

.l-workspace .v-spacing {
  width: 20px !important;
}