.l-close-btn {
  color: #FFFFFF;
  background: #606061;
  line-height: 25px !important;
  text-align: center !important;
  text-decoration: none;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  position: absolute;
  right: -12px;
  top: -10px;
  width: 24px;
}

.l-close-btn:hover {
  background: #00d9ff;
}