$toolbox-section-open-body-color: #fff;
$toolbox-section-open-border-color: #626262;
$toolbox-section-open-header-bg-color: #39D1B4;
$toolbox-section-hover-header-bg-color: #C3C4C5;
$toolbox-section-closed-border-color: #C3C4C5;
$toolbox-section-closed-header-bg-color: #E6E7E8;

.littletheme .l-toolbox {
}

.littletheme .l-toolbox-section {
  padding: 20px 5px;
}

.littletheme .l-toolbox-section-separator {
}

/* Accordion Styles */

.littletheme .l-toolbox-accordion {
  overflow: hidden;
}

.littletheme .l-toolbox-accordion-item {
}

.littletheme .l-toolbox-accordion-item-caption {
  padding: 5px 10px;
  border-top: 1px solid $toolbox-section-closed-border-color;
  background-color: $toolbox-section-closed-header-bg-color;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition-delay: 0s, 0s, 0s;
  -webkit-transition-duration: 0.25s, 0.25s, 0.25s;
  -webkit-transition-property: color, background-color, border-color;
  -webkit-transition-timing-function: linear, linear, linear;
  transition-delay: 0s, 0s, 0s;
  transition-duration: 0.25s, 0.25s, 0.25s;
  transition-property: color, background-color, border-color;
  transition-timing-function: linear, linear, linear;
}

.littletheme .l-toolbox-accordion-item-caption:hover {
  background-color: $toolbox-section-hover-header-bg-color;
}

.littletheme .l-toolbox-accordion-item-caption .v-caption {
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  font-family: 'Open Sans', 'Hevetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
}

.littletheme .l-toolbox-accordion-item-content .v-ddwrapper {
  padding: 2px 10px;
}

.littletheme .l-toolbox-accordion-item-content .v-ddwrapper,
.littletheme .l-toolbox-accordion-item-content .v-ddwrapper .v-label {
  cursor: move !important;
}

/* Accordion Open Styles */

.littletheme .l-toolbox-accordion-item-open .l-toolbox-accordion-item-caption {
  border-color: $toolbox-section-open-border-color;
  background-color: $toolbox-section-open-header-bg-color;
}

.littletheme .l-toolbox-accordion-item-open .l-toolbox-accordion-item-caption .v-caption {
  cursor: default;
}

.littletheme .l-toolbox-accordion-item-open .l-toolbox-accordion-item-content {
  border-top: 1px solid $toolbox-section-open-border-color;
  background-color: $toolbox-section-open-body-color;
}

