.l-block {
}

.l-block-step {

}

.l-block-step-border {
  width: 20px;
  height: 100%;
  background-color: black;
  color: blanchedalmond;
}

.l-block-step-border .v-label {
  height: 100%;
}

.l-block-separator {
  padding: 0;
  margin: 0;
}