target
game/android/target
game/core/target
game/desktop/target
game/html/target
game/ios/target
ide/target
little-ide/target
language/target

*.cache
*.DS_Store
*.prefs

.idea/
*.iml

*/rebel.xml

.classpath
.project
.settings
