target
little-game/core/target
little-game/html/target
little-ide/target
little-language/target

*.cache
*.DS_Store
*.prefs

.idea/
*.iml

rebel.xml

.classpath
.project
.settings

little-ide/src/main/resources/rebel.xml
