target
little-game/core/target
little-game/html/target
little-ide/target
little-language/target

*.cache
*.DS_Store
*.prefs

.idea/
*.iml

rebel.xml

.classpath
.project
.settings

*.cache.js
*.nocache.js
*.symbolmap
gwt-unitCache
compilation-mappings.txt

little-ide/src/main/webapp/VAADIN/themes/*/styles.css

little-ide/html/src/main/webapp/VAADIN/themes/littletheme/styles.css
