$bg-color: #fff;
$fg-color: #262626;
$text-color: whitesmoke;
$border-color: crimson;

.l-step {
	position: relative;
	margin: 2px 0;
	padding: 5px;
	color: $text-color;
	background-color: $fg-color;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.l-step-btn-delete {
	padding: 1px 5px;
	color: $text-color;
	background-color: $fg-color;
	border: 1px solid $fg-color;
}

.l-step-btn-delete:hover {
	color: $border-color;
	border-color: $border-color;
	cursor: pointer;
}

.l-step-btn-delete-wrap {
	font-size: 0.7em;
	font-family: monospace;
}

.l-step-btn-delete-caption {
	
}