.l-function-head {
	height: 20px;
	min-width: 100px;
	border: 1px solid red;
	background-color: orange;
}

.l-function-body {
	
}

.l-function-body-left {
	background-color: red;
	width: 10px;
}

.l-function-body-inner {
	background-color: wheat;
}

.l-function-foot {
	height: 10px;
	width: 100px;
	border: 1px solid red;
	background-color: orange;
}