$bg-color: #fff;
$fg-color: #262626;
$text-color: whitesmoke;
$border-color: grey;

$border-radius-big: 5px;
$border-radius-small: 2px;

.l-function-head {
	height: 20px;
	min-width: 100px;
	background-color: $fg-color;
	border-left: 1px solid $border-color;
	border-top-left-radius: $border-radius-big;
	border-top-right-radius: $border-radius-big;
	border-bottom-right-radius: $border-radius-small;
}

.l-function-body {
	background-color: $bg-color;
}

.l-function-body-left {
	width: 10px;
	background-color: $fg-color;
	border-left: 1px solid $border-color;
}

.l-function-body-inner {
	background-color: wheat;
}

.l-function-foot {
	height: 10px;
	width: 100px;
	background-color: $fg-color;
	border-left: 1px solid $border-color;
	border-top-right-radius: $border-radius-small;
	border-bottom-left-radius: $border-radius-big;
	border-bottom-right-radius: $border-radius-big;
}