$bg-color: #fff;
$fg-color: #262626;
$text-color: whitesmoke;
$border-color: crimson;

.l-function-head {
	height: 20px;
	min-width: 100px;
	border: 1px solid $border-color;
	background-color: $fg-color;
}

.l-function-body {
	background-color: $bg-color;
}

.l-function-body-left {
	width: 10px;
	background-color: $fg-color;
}

.l-function-body-inner {
	background-color: wheat;
}

.l-function-foot {
	height: 10px;
	width: 100px;
	border: 1px solid $border-color;
	background-color: $fg-color;
}