#library {
    -fx-background-color: lightslategray;
}

#library .separator {
    -fx-background-color: dimgrey;
    -fx-background-radius: 1;
}

#workspace {
    -fx-background-color: lightgray;
}

.highlight {
    -fx-border-color: rgb(136, 187, 198);
}

.no-highlight {
    -fx-border-color: null
}

.seaniscool {
    -fx-background-color: red;
}