/* Import the reindeer theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../reindeer/reindeer.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin littletheme {
  /* Include all the styles from the reindeer theme */
  @include reindeer;

  .l-function-head {
    background-color: blue;
    height: 20px;
  }
  .l-function-body {

  }
  .l-function-body-left {
    background-color: red;
    width: 10px;
  }
  .l-function-body-inner {
    background-color: orange;
  }
  .l-function-foot {
    background-color: green;
  }

}